* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#canvas {
    max-width: 80%;
    min-height: 80%;
    border: 2px solid rgb(124, 248, 248);
    border-radius: 30px;
    box-shadow: rgb(124, 248, 248) 0px 0px 10px 5px;
}

#tool-box {
    border: 1px dotted  rgb(189, 96, 231);
    min-width: 80%;
    display:flex;
    /* gap: 10px; */
    justify-content: space-between;
    font-size: 2rem;
    margin: 30px 0px;
    border-radius: 30px;
    box-shadow: rgb(189, 96, 231) 0px 0px 10px 3px;
    padding: 6px 10px;
}
/* #tool-box >*{
    margin: 0px 6px; 
     border: 2px solid black; 
} */
#measures{
    display: flex;
    gap: 15px;
}